<!DOCTYPE html>
<html>

  <head>
    <title>HTTP Request & Response Data JSON Formatter</title>
    <meta charset="utf-8">

    <meta name="description" content="Format HTTP request & response data from your developer console as JSON">

    <meta property="og:title" content="HTTP Request & Response Data Formatter">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Format HTTP request & response data from your developer console as JSON">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>HTTP Request & Response Data JSON Formatter</h1>
      <form action="/format">
        <div class="panel panel-default">
          <div class="panel-heading">Paste raw HTTP request/response data from your browser's developer console below to format as a nice object:</div>
          <div class="panel-body"><textarea cols=72 rows=20 name="full_text">{{ full_text }}</textarea></div>
        </div>
        Quotes
        <select name="quotes">
          <option value="1" selected>' (Single)</option>
          <option value="2">" (Double)</option>
        </select>
        Tabs
        <select name="tabs">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4" selected>4</option>
        </select>
        <input type="submit" value="Format">
      </form>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">Result</div>
        <div class="panel-body">{<br>{% for line in lines %}{{ tab | safe }}{{ line }}<br>{% endfor %}}</div>
      </div>
    </div>
  </body>

  <footer class="footer">
    <div class="footer-copyright text-center">by
      <a href="https://github.com/dustinglass/flask-json-formatter">dustinglass</a>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>